<section
  class="relative min-h-screen py-24 px-6 overflow-hidden bg-gradient-to-br from-gray-50 to-gray-100"
>
  <div class="absolute top-0 left-0 w-full h-full opacity-40">
    <div
      class="absolute top-20 left-20 w-64 h-64 bg-purple-200 rounded-full mix-blend-multiply filter blur-xl animate-blob"
    ></div>
    <div
      class="absolute top-40 right-20 w-64 h-64 bg-yellow-200 rounded-full mix-blend-multiply filter blur-xl animate-blob delay-500"
    ></div>
    <div
      class="absolute bottom-20 left-1/2 w-64 h-64 bg-pink-200 rounded-full mix-blend-multiply filter blur-xl animate-blob delay-1000"
    ></div>
  </div>

  <div class="max-w-7xl mx-auto">
    <div class="flex flex-col lg:flex-row items-center gap-16 relative">
      <div class="lg:w-1/3 z-10">
        <div>
          <h1 class="text-6xl font-bold mb-6 tracking-tight">
            Nuestras
            <span
              class="bg-clip-text text-transparent bg-gradient-to-r from-purple-600 to-pink-600"
            >
              Lecturas
            </span>
          </h1>
          <p class="text-gray-600 text-xl leading-relaxed mb-8">
            Explora nuestra colección de libros discutidos en el club. Cada
            semana, una nueva aventura literaria nos espera.
          </p>
          <a
            [href]="WHATSAPP_URL"
            target="_blank"
            class="group relative px-8 py-4 font-medium text-white"
          >
            <span
              class="absolute inset-0 w-full h-full transition duration-300 transform -translate-x-1 -translate-y-1 bg-purple-600 ease opacity-80 group-hover:translate-x-0 group-hover:translate-y-0"
            ></span>
            <span
              class="absolute inset-0 w-full h-full transition duration-300 transform translate-x-1 translate-y-1 bg-pink-600 ease opacity-80 group-hover:translate-x-0 group-hover:translate-y-0"
            ></span>
            <span class="relative">Unirse al club</span>
          </a>
        </div>
      </div>

      <app-top-books [topBooks]="topBooks" />
    </div>
  </div>
</section>
